 button {
   margin-top: 5px;
   margin-left: 5px;
 }

 .btn-secundario {
   background-color: #007bff;
   color: #fff;
   border: none;
   margin-top: 5px;
   margin-left: 5px;

   padding: 3px;
   width: 15rem;
 }

 .btn-primario {
   background-color: #787d6c;
   color: #fff;
   border: none;
   margin-top: 5px;
   margin-left: 5px;
   padding: 3px;
   width: 15rem;

 }

 .preg {
background-color: dodgerblue;
color: rgb(255, 255, 255);
border-radius: 10%;
  font-weight: bold; /* Opcional: resalta aún más el texto */
}
