 button {
   margin-top: 5px;
   margin-left: 5px;
 }

 .btn-secundario {
   background-color: #007bff;
   color: #fff;
   border: none;
   margin-top: 5px;
   margin-left: 5px;

   padding: 3px;
   width: 15rem;
 }

 .btn-primario {
   background-color: #787d6c;
   color: #fff;
   border: none;
   margin-top: 5px;
   margin-left: 5px;
   padding: 3px;
   width: 15rem;

 }

 /* .juego {
   width: 100vw;
   height: max-content;
   background-image: url('https://s1.eestatic.com/2015/01/27/elandroidelibre/el_androide_libre_6509952_179851131_1706x960.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: block;
   overflow: hidden;
   opacity: 0.9;

 } */
