.sudoku-block {
  display: inline-block;
  border: 1px solid rgb(17, 185, 190);
  border-width: 1px 0 0 1px;
  background-color: lightgray;
  border: 2px solid rgb(17, 185, 190);
  margin: 2px;
}

.sudoku-row {
  display: flex;
  border-bottom: 2px solid black;
}

.sudoku-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;

}

.box {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  text-align: center;
  background-color: blue;
}

.contenido {
  margin-top: 3rem;
  margin-left: 5rem;

}

.sudoku-table {
  width: 100%;
  max-width: 600px;
}

input[readonly] {
  background-color: rgb(68, 113, 119);
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .contenido {
    margin: 0;
    padding: 10px;
  }
}
